
<div id="container-app" class="row add" ng-controller="AppController">
    <div class="col-lg-9">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Here is what we need to help you</h3>
            </div>
            <div class="panel-body">
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="hidden-xs">What to do?</span>
                        <span class="visible-xs">?</span>
                    </span>
                    <input type="text" class="form-control" ng-model="question" placeholder="What do you want to ask?" ng-enter="goToChoice()">
                </div>
                <br />
                <div class="input-group">
                    <input type="text" id="form-input-choice" class="form-control" placeholder="Add some choices..." ng-model="newChoice" ng-enter="addChoice()" />
                    <span class="input-group-btn">
                        
                        <button class="btn btn-success" type="button" ng-click="addChoice()">Add</button>
                        <!--<input type="button" class="btn btn-danger" value="Clear all" />-->
                    </span>
                </div><!-- /input-group -->
                
                <ul class="list-group">
                    <li class="list-group-item text-left" ng-repeat="choice in items">
                        
                        <span class="label label-danger removeBadge" ng-click="removeChoice(choice)">x</span>
                        <span class="badge" style="background-color: {{ choice.color }}"> {{ choice.id }} </span>
                        {{ choice.name }}
                    </li>
                </ul>
                
            </div>
            
        </div>
        
        <br />
        <div id="divAnswer" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Question:</strong> {{ question }}</h3>
            </div>
            <div class="panel-body text-left">
                <h3>Our answer:</h3>
                <h4>
                    <span id="resultBadge" class="badge"></span> 
                    <span id="resultName"></span>

                    <div class="clearfix-xs"></div>
                    <div class="btn-group btn-group-feedback" role="group" aria-label="...">
                      <button type="button" class="btn btn-success btn-xs">Lite it</button>
                      <button type="button" class="btn btn-danger btn-xs">Dislike!</button>
                    </div>
                </h3>
                <br />

                <h4>Share it to your friends</h4>
                <div class="fb-share-button" data-href="//valkirilov.github.io/what-to-do/" data-layout="button"></div>

                <a class="twitter-share-button" 
                    href="https://twitter.com/intent/tweet?text=Hello%20world"
                    data-count="none"
                    >Tweet</a>

                <!-- <div class="g-plus" data-action="share" data-annotation="none"></div>
                <div class="g-plus" data-action="share"></div> -->
                <div class="g-plus" data-action="share" data-annotation="none"></div>
                <script type="text/javascript">gapi.plus.go();</script>

                <br /><br />

                <p>We hope that you are satisfied with the response and you will ask us for help again. Good Luck!</p>
            </div>
        </div>
        
        <input type="button" id="button-ask" class="btn btn-primary btn-lg" ng-show="askButton" ng-click="randomize()" value="Ask me" />
        

    </div><!-- /.col-lg-6 -->
    
</div><!-- /.row -->

<div class="row animation">                                                                 
    <canvas id="canvas" height="450" width="450"></canvas>
    <div id="divResult" class="result" ng-show="askResult">?</div>
    <div class="clearfix"></div>
</div>

<div class="clearfix"></div>

<div class="alert alert-warning text-left">
    <p><strong>Warning!</strong></p>
    <p>You have to know that we do not accept any responsibility for any consequences of using this app.</p>
    <p>Our main purpose is to help you to choose something when you cannot do it by your own but you don't have to use it for illegal purposes. Have fun and thanks!</p>
</div>

<div class="clearfix"></div>