
<div>
    <h3 class="text-left">About What-to-do? App</h3>
    <p class="text-left">
        I made this app to help me when me and my love cannot choose what to do or what to choose when we have 
        more than one option. So this project exist because of the great work of <a href="http://www.nickdownie.com/" target="_blank">Nick Downie</a> 
        (I mean <a href="http://www.chartjs.org/" target="_blank">Chart.js</a>) and of course the best front-end framework 
        <a href="http://getbootstrap.com/" target="_blank">Bootsrap</a>. And I won't forget to thanks to the <a href="http://angularjs.org/" target="_blank">AngularJS</a>
        team and their Superheroic JavaScript MVW Framework which helped me to build it so fast and easy.
    </p>
    
    <h3 class="text-left">Feedback</h3>
    <p class="text-left">
        If you like this app or if you have any suggestions about it's future or anything that is on your mind
        when you saw this app you can share it 
        in <a href="https://github.com/valkirilov/what-to-do/issues" target="_blank">github issues</a> list. <br />
        You can also share the app in the social networks, if you like it :)
    </p>
    
    <h3 class="text-left">Licenses</h3>
    <p class="text-left">
        <a href="http://angularjs.org/" target="_blank">AngularJS</a><br />
        Super-powered by Google ©2010-2013<br />
        Code licensed under the The MIT License. 
    </p>
    
    <p class="text-left">
        <a href="http://www.chartjs.org/" target="_blank">Chart.js</a><br />
        Chart.js is open source and available under the <a href="http://opensource.org/licenses/MIT" target="_blank">MIT license</a>.
    </p>
    
    <p class="text-left">
        <a href="http://getbootstrap.com/" target="_blank">Bootsrap</a><br />
        Designed and built with all the love in the world by <a href="https://twitter.com/mdo" target="_blank">@mdo</a> and <a href="https://twitter.com/fat" target="_blank">@fat</a>.<br />
        Maintained by the <a href="https://github.com/orgs/twbs/members" target="_blank">core team</a> with the help of our <a href="https://github.com/twbs/bootstrap/graphs/contributors" target="_blank">contributors</a>.<br />
        Code licensed under <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank">MIT</a>.
    </p>

</div>
<br />