<div class="jumbotron">
    <h1 class="hidden-xs">You need help?</h1>
    <h3 class="visible-xs">You need help?</h3>
    
    <p class="lead">Sometimes you have a lot of things on your mind and you cannot choose only one to do. We can help you..</p>
    <p><a class="btn btn-lg btn-success" ng-click="buttonAsk()" role="button">Ask us now</a></p>
</div>

<div id="container-marketing" class="row marketing">
    <div class="col-sm-6">
        <h4>Movie</h4>
        <div class="action movie"></div>
        <p class="text-justify">One of your friends suggested you a list of movies but you don't know which one to watch first, ask us and we will help you.</p>
        
        <h4>Cooking</h4>
        <div class="action cooking"></div>
        <p class="text-justify">You are hungry, tha cookbook is full of delicous receipes and you have got some favorite but you can't choose which one of them to prepare now, use the app and you will find out.</p>
        
        <h4>Vacation</h4>
        <div class="action vacation"></div>
        <p class="text-justify">In the summer or in the winter there are a lot of exotic and attractive destinations where you can go on a vacation and if you ask us we will chooste the best of them.</p>
    </div>

    <div class="col-sm-6">
        <h4>Clothes</h4>
        <div class="action clothes"></div>
        <p class="text-justify">You have to go fast because you are late but of course you don't know what to wear, don't panic we will help you, just ask us.</p>
        
        <h4>Book</h4>
        <div class="action book"></div>
        <p class="text-justify">There are a lot of books in the library and the bookstore and you have some favorite writers and if you give us their best work we can help you to choose which one to read first.</p>
        
        <h4>Anything else</h4>
        <div class="action music"></div>
        <p class="text-justify">You can ask us for help about everything, event what kind of music to listen. Just type the options and we will choose the right choice for you problem.</p>
    </div>
</div>