<div class="jumbotron">
    <h1>You need help?</h1>
    <p class="lead">Имате куп неща на главата и не знаете с какво да се захванете или пък простосе колебаете какво да изберете. Имате нужда от помощ, това приложение ще ви помогне.</p>
    <p><a class="btn btn-lg btn-success" href="#/app" role="button">Ask us now</a></p>
</div>

<div class="row marketing">
    <div class="col-lg-6">
        <h4>Movie</h4>
        <p>You have a list of movies but you don't know which one to choose, ask us and we will help you.</p>
        
        <h4>Cooking</h4>
        <p>You are hungry, but you can't choose what to cook bevause you have a lot of things in your mind, ask us and we will help you.</p>
        
        <h4>Vacation</h4>
        <p>You want to go on a vacation and we can help you to make the right choice, just ask us.</p>
    </div>

    <div class="col-lg-6">
        <h4>Book</h4>
        <p>There are a lot of book in t6he library and the bookstore nd we can help you to choose one of them, just ask us.</p>
        
        <h4>Пас за сега</h4>
        <p>Трябва да се измисли..</p>
        
        <h4>Anything else</h4>
        <p>You can ask us for help about everything, just type the options and we will choose the right one for you.</p>
    </div>
</div>