
.view {
    text-align: center;
}

.add {
    
    position: relative;
    margin: 10px auto;
    text-align: center;
}
.add .col-lg-9 {
    float: none;
    margin: 0px auto;
}
.add ul {
    margin: 10px;
}

.removeBadge {
    float: right;
    margin: 2px 5px;
    
    cursor: pointer;
}

#ask-button {
    position: absolute;
    margin: 225px 0 0 -265px;
}

.result {
    width: 150px;
    height: 150px;
    background: #333333;
    
    border-radius: 100%;
    
    position: relative;
    margin: -325px auto;
    z-index: 6;
    
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    
    color: #FFFFFF;
    font-size: 3em;
    line-height: 150px;
    vertical-align: middle;
    text-align: center;
}

canvas {
    width: 450px !important;
    height: 450px !important;
 
    position: relative;
    margin: 21px auto;
    
    transition: 5s;
    -webkit-transition: 5s;
    -moz-transition: 5s;
    -ms-transition: 5s;
    -o-transition: 5s;
}

#divAnswer {
    opacity: 0;
    display: none;
    
    position: relative;
    
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.animation {
    height: 520px;
    
    position: relative;
    vertical-align: top;
}

.footer {
    text-align: center;
}

/* Some responsive stuff
 */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Phones in portrait */
@media screen and (max-width: 320px) {
    
    .animation {
        height: 250px;
    }
    
    canvas {
        margin: 0 auto;
        position: relative;
        
        transform:          translateY(-100px) translateX(-100px) scale(0.3);
        -webkit-transform:  translateY(-100px) translateX(-100px) scale(0.3);
        -moz-transform:     translateY(-100px) translateX(-100px) scale(0.3);
        -ms-transform:      translateY(-100px) translateX(-100px) scale(0.3);
        -o-transform:       translateY(-100px) translateX(-100px) scale(0.3);
    }
    
    /* Hidden for now because I cant test devices*/
    .result {
        display: none;
    }
    
    
    
    
}