/* TODO: Export the colors as global variables */

main {
  background: #edb950;
  display: flex;
  align-items: center;
}

/* TODO: Think of a better name, please */
.main-section {
  position: relative;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
  }
}

section#wheel {
  background: #edb950;

  /* TODO: Fix the wheel size on really small devices */

  @media (min-width: 768px) {
    width: 400px;

    .decorations {
      position: relative;
      z-index: 13;
    }
  }  
}

section#intro {
  text-align: center;

  @media (min-width: 768px) {
    width: 400px;
    text-align: left;

    .decorations {
      position: relative;

      #cloud-decoration-1 {
        margin-top: 5px; /* TODO: Try to override the variable for the offset */
        z-index: 13;
      }

      #cloud-decoration-4 {
        margin-top: -5px; /* TODO: Try to override the variable for the offset */
        z-index: 13;
      }
    }
  }  

  .content {
    background: #edebd8;
    padding: 3rem;
    padding-top: 50px;
    z-index: 10;
    position: relative;
    
    /* TODO: try to export it in a variable or reusable mixin */
    @media (max-width: 320px) {
      padding: 1rem;
      padding-top: 60px;
    }
    
    @media (min-width: 768px) {
      border-radius: 3rem;
    }
  }

  section .decorations {
    position: relative;
    z-index: 5;
  }

  .intro-man {
    position: absolute;
    height: 415px;
    right: 0;
    top: 100px;
    z-index: 10;

    @media (min-width: 768px) {
      top: initial;
      bottom: 0;
    }
  }

  h1 {
    font-weight: bold;
    font-size: 2rem;
  }
  
  p {
    font-size: 1rem;
  }
  
  .actions {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    
    button {
      font-weight: bold;
      border-radius: 1.5rem;
      padding: 1rem;
      text-transform: uppercase;
      font-size: 1rem;
      border: none;
      flex: 1;

      /* TODO: try to export it in a variable or reusable mixin */
      @media (max-width: 320px) {
        padding: 1rem 0.5rem;
        font-size: 0.9rem;
      }
    
      &.primary {
        background: #63390a;
        color: #eeba4c;
      }
      
      &.secondary {
        background: #eeba4c;
        color: #63390a;
      }
    
    }
  }
    
}